@using ToDoApp_2.ViewModels.MyTasks
@model IndexViewModel
@{
    ViewBag.Title = "Index";
}

<h2>My Tasks</h2>
<hr />

<div class="col-md-8 blue">
    @Html.ActionLink("Yeni Görev","NewTask","MyTasks",null,new {@class="btn btn-primary" })
    <br />
</div>

<table class="table">
    <table class="col-md-12">
        <thead class="list-group-item active col-md-12">
            <tr>
                <th scope="col" class="col-md-12">#</th>
                <th scope="col" class="col-md-12">Task</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var task in Model.Gorevler)
            {
                <tr class="col-md-12">
                    <th scope="row" class="col-md-12  glyphicon glyphicon-pencil ">&emsp;@task.ID</th>
                    <td class="col-md-12">@task.Task</td>
                </tr>
            }
        </tbody>
    </table>
</table>

